@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif&family=Geist+Mono&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #000000;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    overflow: hidden;
}

body.light-mode {
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.5s, color 0.5s;
}

body.dark-mode {
  background-color: #000000;
  color: #ffffff;
  transition: background-color 0.5s, color 0.5s;
}

body.light-mode h1 {
  color: #000000;
}

body.dark-mode h1 {
  color: #ffffff;
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-family: 'Hedvig Letters Serif', serif;
    font-size: 100px;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin: 0;
    opacity: 0;
    animation: fadeIn 1.5s ease forwards;
    animation-delay: 0.5s;
    white-space: nowrap;
    color: inherit;
}

#trailing {
    opacity: 0;
    display: inline-block;
    animation: fadeIn 3s ease forwards;
    animation-delay: 2s;
}

#theme-toggle {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  opacity: 0;
  animation: fadeIn 1.5s ease forwards;
  animation-delay: 3.5s;
}

#theme-icon path {
  transition: all 0.3s ease;
}

#theme-toggle svg {
  transition: width 0.5s ease, height 0.5s ease;
}

#theme-toggle:hover svg {
  width: 28px;
  height: 12.923px;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 30px;
    }
    
    #theme-toggle {
        bottom: 50px;
    }
}
